::selection {
    color: #000000;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1::selection {
    background: #ff4e4e;
}

body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}
